body{
    color:rgba(2, 247, 64);
    font-size: 70px;
    font-family: "Nanum Gothic", sans-serif;
}

i{
    cursor: pointer;
}

i:active{
    transform: scale(0.8);
}

#sfondo{
    background-color: black;
    width: 100vw;
    min-height: 100vh;
    padding: 50px 0;
}

#screen{
    background-color: rgba(2, 247, 64, 0.5);
    max-width: 90vw;
    max-height: 90vh;
    margin: 0 auto;
    border-radius: 60px;
    padding: 1.5em;
    overflow-y: auto;
}

.stats{
    font-weight: bold;
    align-items: center;
}

.stats:hover{
    background-color: rgba(2, 247, 64);
    color: black;
}

.green{
    background-color: rgba(2, 247, 64);
}

.box{
    height: 24px;
}

@media screen and (max-width:1330px) {

    body{
        font-size: 65px;
    }

    #screen{
        padding: 0.5em 1em;
    }

    .stats{
        text-align: center;
    }
}

@media screen and (max-width:1080px) {

    body{
        font-size: 50px;
    }

    #screen{
        padding: 1.5em 1em;
    }
}